@font-face {
    font-family: 'Pacifico Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Pacifico Regular'), url('../fonts/Pacifico.woff') format('woff');
}
@font-face {
 font-family: 'Raleway-Light', sans-serif;
 font-weight: 300;
 font-style: normal;
 src: url(../fonts/Raleway-Light.ttf), format('true-type');
}
@font-face {
    font-family: 'Raleway Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Heavy'), url('../fonts/Raleway-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Raleway Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold'), url('../fonts/Raleway-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light'), url('../fonts/Raleway-Light.woff') format('woff');
}
