$light: white;
$btnColor: #ff4500;
$dark: rgb(38, 38, 38);
$gray: rgb(157, 157, 157);
$yellow: rgb(255, 233, 47);
$lightBlue: rgb(84, 131, 160);
$blue: #70bfff;
$grayTransparent: rgba(255, 255, 255, 0.4);
$lightGray: rgba(255, 255, 255, 0.761);
$turquoise: #00b4b4;
$violet: #b07cf7;
$darkBlue: #355b82;
$darkTransparent: rgba(203, 203, 203, 0.149);
$lightColor: rgb(250, 250, 254);